@charset "UTF-8";

@font-face {
	font-family: 'CJ+ONLYONE+Medium';
	src: url('../../../font/CJ+ONLYONE+Medium.ttf');
}

@font-face {
	font-family: 'CJ+ONLYONE+Medium+LIGHT';
	src: url('../../../font/CJ+ONLYONE+NEW+BODY+LIGHT.TTF');
}

body {
	background-color: #fdfcf0;
	font-family: 'CJ+ONLYONE+Medium+LIGHT';
}

em {
	font-style: normal;
}

.snb_menu2 {
	font-style: normal;
	font-size: 26px;
	display: block;
	margin: 3px 0 10px;
	font-weight: bold;
}

.col_detail>h1 {
	font-size: 36px;
	font-weight: 500;
	color: #222;
	height: 51px;
	border-bottom: 3px solid #241d1e;
	font-family: 'CJ+ONLYONE+Medium';
}

.mypage_contents3 {
	width: 1050px;
	margin: 0 auto;
	height: 100%;
	overflow: hidden;
	/*  background-color: skyblue;  */
	padding: 30px 180px 200px 210px;
}

.listp {
	font-weight: bold;
	color: #808080;
}

.list_p { /* getList.jsp */
	height: 180px;
	width: 800px;
	border-bottom: 1px solid #cccccc;
	padding: 0 0 20px 0;
}

.list_p2 { /* reviewLook.jsp */
	height: 160px;
	width: 800px;
	border-bottom: 1px solid #cccccc;
	padding: 20px 0 20px 0;
}

.list_p_name {
	padding: 20px 0 13px;
}

.list_p_name2 {
	float: right;
}

.br {
	padding-top: 10px;
	padding-bottom: 15px;
	font-size: 15px;
	font-weight: 600;
}

.list_p_content {
	height: 60%;
	width: 100%;
}

.list_p_photo {
	float: left;
	width: 110px;
	height: 158px;
	margin-right: 20px;
}

.list_p_photo>img {
	width: 110px;
	height: 158px;
}

.list_p_contents1 {
	float: right;
	width: 83%;
	height: 158px;
}

.list_p_photo11 {
	float: left;
}

.list_p_contents11 {
	float: right;
	width: 72%;
	height: 100%;
}

.list_p_contents2 {
	padding-top: 13px;
}

#title {
	padding-bottom: 10px;
	text-align: center;
	font-size: x-large;
	font-weight: bold;
	color: #333;
	border-bottom: 1px dashed #cccccc;
}

.sss {
	display: none;
}

/* #result {
	width: 80%;
	min-width: 1000px;
}
 */
.egg2 {
	width: 15px;
	height: 30px;
}

.hd {
	float: right;
}

.hd_btn {
	border: 0;
	outline: 0;
}

.td1 {
	margin: 5px 0 0 0;
	font-family: 'CJ+ONLYONE+Medium';
	font-weight: 600;
}

.td2 {
	float: right;
	border: 0;
	outline: 0 !important;
	background-color: transparent;
}

.td_image {
	width: 30px;
	height: 20px;
}

.egg-uid {
	display: flex;
}

.egg3 {
	width: 18px;
	height: 34px;
}

.egg4 {
	display: inline-block;
	font-size: small;
	font-weight: 600;
	vertical-align: middle; /* 수직 정렬 */
	font-family: 'CJ+ONLYONE+Medium+LIGHT';
}

.review-contents {
	height: 80px;
	margin-bottom: 5px;
	width: 660px;
	word-break: break-all;
}

#review_update {
	border: 0;
	outline: 0;
	background-color: transparent;
	font-weight: 600;
	font-family: 'CJ+ONLYONE+Medium+LIGHT';
}

.ud {
	color: #666666;
	vertical-align: middle;
}

#look {
	
}

#more {
	border-right: 0;
	border-left: 0;
	border-top-style: dotted;
	border-bottom-style: dotted;
	outline: 0;
	background-color: transparent;
	width: 258px;
	height: 46px;
	display: block;
	margin: 0 auto;
	position: relative;
}

#more>img {
	position: absolute;
	top: 10px;
	left: 70px;
}

#more-plus {
	position: absolute;
	font-weight: 600;
	top: 15px;
	left: 98px;
	font-family: 'CJ+ONLYONE+Medium';
}

#l_count1 {
	position: absolute;
	top: 15px;
	left: 140px;
	font-weight: 600;
	font-family: 'CJ+ONLYONE+Medium';
	left: 140px;
}

.update {
	font-size: 13px;
	font-weight: bolder;
	color: #666666;
}

/*	top-bar	*/
.top-bar {
	position: relative;
	height: 34px;
}

.top-bar>h4 {
	position: absolute;
	height: 34px;
	margin: 0;
	color: #222;
	font-weight: 600;
	font-size: 17px;
	line-height: 34px;
	text-align: left;
	font-family: 'CJ+ONLYONE+Medium';
	height: 34px;
}

#total {
	position: absolute;
	font-weight: 600;
	font-size: 13px;
	font-family: 'CJ+ONLYONE+Medium+LIGHT';
	top: 10px;
	left: 100px;
}

#look {
	right: 0px;
	color: #ffffff;
	position: absolute;
	font-weight: 600;
	font-family: 'CJ+ONLYONE+Medium';
	padding: 5px 10px;
	border: 2px solid #e71a0f;
	background-color: #e71a0f;
	border-radius: 0.25rem;
	font-size: 12px;
}

/*getList*/
.hd_btn_x, #good, #bad, .before {
	background-color: transparent;
	border: none;
}

#m-title {
	margin: 14px 0;
	color: #222;
	font-weight: 500;
	font-size: 22px;
	padding: 0;
}

.br-m-info {
	padding-top: 10px;
	padding-bottom: 15px;
	font-size: 12px;
	font-weight: 600;
}

.br-m-info>div {
	margin-bottom: 9px;
}

.del-bt {
	position: absolute;
	top: -5px;
	right: 0;
}

/* */
.snb_box {
	display: grid;
	border-radius: 0.25rem;
	border: 1px solid #bab8ae;
	margin-top: 10px;
	text-align: center;
	font-family: 'CJ+ONLYONE+Medium';
	font-weight: 600;
	border-radius: 0.25rem;
}

.snb_box>img {
	height: 135px;
	width: 135px;
	border-radius: 50%;
	margin: 10px 12px 30px 12px;
}

.snb_box>strong {
	margin-top: 5px;
	font-size: 13px;
	font-weight: 600;
}

.myinfo {
	padding-bottom: 10px;
}

.myinfo>strong {
	font-weight: 600;
	font-size: 20px;
}

.myinfo>em {
	display: block;
	margin: 3px 0 10px;
	font-family: verdana, sans-serif;
	font-size: 10px;
	font-weight: bold;
}

.snb_menu {
	padding: 20px 0;
}

.snb_menu>em {
	font-size: 26px;
}

.snb_menu>strong {
	margin-top: 5px;
	font-size: 13px;
	font-weight: 600;
	display: block;
}

/* contents */
.el-sel {
	position: absolute;
	color: #666;
	right: 55px;
	padding: 3px 5px;
	border: 1px solid #b4b3aa;
	font-family: 'CJ+ONLYONE+Medium+LIGHT';
}

.go-look {
	right: 0px;
	color: #7b7b7b;
	position: absolute;
	font-weight: 600;
	font-family: 'CJ+ONLYONE+Medium';
	padding: 5px 10px;
	border: 2px solid #7b7b7b;
	background-color: transparent;
	border-radius: 0.25rem;
	font-size: 12px;
	border-radius: 0.25rem;
}

/* diary-form*/
.diary-form {
	display: grid;
	background-color: #fff;
	border: 1px solid #e3e3e1;
	background-color: #fff;
	position: relative;
}

.mv-div {
	border-bottom: 1px solid #e3e3e1;
	position: relative;
}

.mv-div>img {
	margin: 10px;
}

.mv-div>span {
	position: absolute;
	top: 16px;
}

.mv-div>input, .mv-div>textarea {
	border: none;
	resize: none;
	position: absolute;
	top: 11px;
	width: 730px;
	font-family: 'CJ+ONLYONE+Medium+LIGHT';
	color: #666;
}

.mv-btn {
	background-color: #e9e7ec;
	height: 37px;
}

.mv-btn>button {
	float: right;
	margin: 3.5px 3px;
	border-radius: 0.25rem;
	border: none;
	height: 30px;
	font-weight: 600;
	font-size: 12px;
	font-family: 'CJ+ONLYONE+Medium';
	padding: 0 15px;
}

.li-open {
	position: absolute;
	right: 5px;
	top: 7px;
}

.li-close {
	display: none;
	position: absolute;
	right: 15px; top : 12px;
	width: 18px;
	height: 18px;
	background: #ffffff url("/images/sprite_btn.png") no-repeat -72px -216px;
	top: 12px;
}

/* modal */
.modal-div {
	display: none;
	position: absolute;
	width: 100%;
	height: 350px;
	z-index: 1;
	left: -1px;
	top: 35px;
	border: 1px solid #e3e3e1;
	background-color: #fff;
	overflow: overlay;
	position: absolute;
}

.mv-li {
	display: flex;
	position: relative;
	margin: 0px 15px;
	padding: 20px 5px;
	border-bottom: 1px solid #e3e3e1;
	margin: 0px 15px;
}

.mv-li>img {
	width: 55px;
	height: 70px;
	margin-right: 20px;
}

.mv-li>button {
	position: absolute;
	bottom: 10px;
	right: 5px;
}

.mv-li-info>strong {
	font-size: 13px;
	font-weight: 600;
	line-height: 20px;
}

.mv-li-info>p {
	font-size: 11px;
}

.mv-li-info>em {
	font-size: 13px;
	margin-top: 10px;
}

.d_image {
	position: relative;
	top: 7px;
}