@charset "UTF-8";



.mypage_contents3 {
				width:1050px;
				margin:0 auto;
				height:100%;
				overflow:hidden;
				/*  background-color: skyblue;  */
				padding: 30px 180px 200px 210px;


}


.listp {
	font-weight: bold;
	color: #808080;
}
.list_p {/* getList.jsp */

	height : 180px;
	width : 800px; 
	border-bottom: 1px solid #cccccc; 
	padding: 0 0 20px 0;
}
.list_p2 {/* reviewLook.jsp */

	height : 200px;
	width : 800px; 
	border-bottom: 1px solid #cccccc; 
	padding: 20px 0 20px 0;
}

.list_p_name {
	padding: 20px 0 13px;
}
.list_p_name2 {
	float: right;
}

.br {
	padding-top: 10px;
	padding-bottom: 15px;
	font-size: 15px;
	font-weight: 600;
}

.list_p_content {
	
	height: 60%;
	width: 100%;
	
}

.list_p_photo {
	float: left;
}
.list_p_contents1 {
	float: right;
	width:83%;
	height:100%;
}

.list_p_photo11 {
	float: left;
}
.list_p_contents11 {
	float: right;
	width:72%;
	height:100%;
}

.list_p_contents2 {
	padding-top: 13px;
}

#title {
	padding-bottom: 10px;
	text-align: center; 
	font-size: x-large; 
	font-weight: bold;
	color: #333;
	border-bottom: 1px dashed #cccccc; 
}
#title2 {
	padding-bottom: 10px;
	text-align: center; 
	font-size: x-large; 
	font-weight: bold;
	color: #333;
	border-bottom: 1px dashed #cccccc; 
}

.sss {
	display:none;
}

#result {

	width: 80%;
	min-width: 1000px;
}

.egg2 {
	width: 15px;
	height: 30px;
	}
	
	
	
.td1.hd {
	float: right;
}	

.hd_btn {
	border: 0; 
	outline: 0;
}

.td1 {
	display: inline-block;
	
}
.td2 {
	float: right;
	border: 0;
	outline: 0 !important;
	background-color: transparent;
}

.td_image {
	width: 30px;
	height: 20px;	
}
	
.egg3 {
	width: 18px;
	height: 34px;
	}
	
.egg4 {
 	display: inline-block;
 	font-size: small;
 	vertical-align: middle; /* 수직 정렬 */
}

#review_update {
	border: 0;
	outline: 0;
	background-color: transparent;
}

.ud {
	color: #666666;
	vertical-align: middle;
}

#look {
	float: right;
	height: 33px;
	width: 90px;
	border: 0;
	outline: 0;
	background-color: #e71a0f;
	color: white;
	border-radius: 5px;
	font-weight: bold;
}

#more {
	border-right: 0;
	border-left: 0;
	border-top-style: dotted;
	border-bottom-style: dotted;
	
	outline: 0;
	background-color: transparent;
	
	width: 258px;
	height: 46px;
	
	display: block;
	margin : 0 auto;
	
}

.update {
	font-size: 13px; 
	font-weight: bolder; 
	color: #666666;
}