@charset "UTF-8";

/*  ------------------------------------------------------------------------------- container */

.container{
	background-color: #fdfcf0;
}

.round{
	line-height: 23px;
	font-weight: 300;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	position: relative;	
	
}


/*  ------------------------------------------------------------------------------- container navigation lineamp*/
.c_nav{
	width: 100%;
	background-color: #f1f0e5;
	border-bottom: 1px solid #cacac0;
}

.nav_linemap{
	position: relative;
	width: 980px;
	height: 28px;
	margin: 0 auto;
/* 	border: 1px solid green; */
}

.nav_linemap li:first-child{
	margin-left: 0px;
	padding-left: 0px;
	background: none;
}

.nav_linemap li{
	float: left;
	display: inline-block;
	font-size: 12px;
	line-height: 30px;
	margin-left: 12px;
	padding-left: 20px;
	background: url("../images/login/ico_arrow.png") no-repeat 0 9px;
}

.last{
	text-decoration: underline;
	color: #222;
}
/*  ------------------------------------------------------------------------------- container contents*/

.contents{
	position: relative;
	width: 980px;
	margin: 0 auto;
	padding-bottom: 50px;
/* 	border: 2px solid red; */
}

.col_content{
	margin-top: 25px;
}




.tit-heading-wrap {
    position: relative;
    height: 51px;
    margin-top: 30px;
    border-bottom: 3px solid #241d1e;
}
.tit-heading-wrap h3{
	display: inline-block;
    position: relative;
    height: inherit;
    margin: 0;
    background-image: none;
    color: #222;
    font-weight: 500;
    font-size: 36px;
    text-align: left;
    vertical-align: middle;
}

.sect-base-movie{
	margin-top: 40px;
}

.box-image {
    margin-right: 30px;
    width: 185px;
    height: 260px;
    float: left;
}


.box-image a {
    display: block;
}

.thumb-image {
    display: block;
    position: relative;
}

/*  ------------------------------------------------------------------------------- 상세 이미지 */
a {
    color: inherit;
    text-decoration: none;
}

.box-contents {
    width: 765px;
    float: left;
    position: relative;
}

.title {
    display: block;
    color: #333333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.title strong {
    color: #1a1919;
    font-size: 25px;
    vertical-align: middle;
}

strong{
    font-weight: 500;
}
.score {
    margin-top: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d9d6c8;
    font-size: 14px;
   
}
 .score .percent {
    vertical-align: middle;
     
}
 .score .egg-gage{
 	vertical-align: middle;
 }
 
 .egg-gage {
    display: inline-block;
    width: auto !important;
    line-height: 1;
}

.score .percent span {
    color: #333333;
    font-size: 12px;
    font-weight: normal;
    font-family: Verdana, Geneva, sans-serif;
    vertical-align: -1px;
}

.score .egg-gage {
    margin-top: -8px;
    margin-left: 2px;
    padding-left: 6px;
    background: url(../images/movie/movieList/bg_writeinfo.gif) 0 12px no-repeat;
}

.egg-gage small .egg great {
    width: 16px;
    background-position: -41px -47px;
}
#this {
    display: inline-block;
    margin-right: 2px;
    width: 18px;
    height: 26px;
    background-color:red;
     background: url(../images/movie/movieList/sprite_egg.png) no-repeat 0 -67px; 
    vertical-align: middle;
}
.spec {
    padding-top: 18px;
    line-height: 1.6;
    color: #333333;
    font-size: 13px;
    font-weight: 500;

}

.spec dt {
    float: left;
}
.spec dd {
    white-space: normal;
    text-overflow: clip;
    overflow: visible;
    float: left;
}

.spec .on {
    float: none;
}

.title em {
    margin-left: 12px;
}
.round.lightblue {
    border: 2px solid #3e82a4;
    color: #3e82a4;
}
.round {
    line-height: 23px;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
}
.round, .round > * {
    display: inline-block;
    position: relative;
}
em {
    font-style: normal;
}
.round > * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 5px 0;
}
 /*  ------------------------------------------------------------------------------- 상세 컨텐츠(감독,배욱등) */

.like {
    margin-top: 22px;
}
.like {
    display: inline-block;
    margin-right: 3px;
}

.link-count {
    width: 104px;
    height: 33px;
    border: 1px solid #222222;
    line-height: 33px;
    text-align: center;
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-right: 2px;
    color: #222222;
    font-size: 14px;
    font-weight: 400;
    background-color: #fdfcf0;
}

.link-reservation {
    display: inline-block;
    width: 91px;
    height: 35px;
    background: url("../images/movie/movieList/sprite_btn.png") 0 0px no-repeat;
    font: 0/0 a;
    zoom: 1;
    vertical-align: top;
}

 /*  ------------------------------------------------------------------------------- 예매버튼 */
 .wrap-movie-detail .cols-content {
    margin-top: 30px;
}
.cols-content .col-detail:first-child {
    float: left;
}
.cols-content .col-detail {
    position: relative;
    width: 800px;
    float: left;
}
.tab-menu {
    clear: both;
    text-align: center;
}
ul {
    list-style: none;
}
.tab-menu li:first-child {
    padding-left: 20px;
    background: url(../images/movie/movieList/sprite_corner.png) 0px -20px no-repeat;
}
.tab-menu li {
    display: inline-block;
    margin-left: -4px;
}
.tab-menu li a {
    display: inline-block;
    position: relative;
    height: 39px;
    padding: 0 15px;
    background: #e71a0f url(../images/movie/movieList/bg_tebmenu-line.gif) 0 12px no-repeat;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    line-height: 39px;
}
 /*  ------------------------------------------------------------------------------- 주요정보/스틸컷/트레일러 */
 
.sect-story-movie{
	margin-top: 40px;
}
 /*  ------------------------------------------------------------------------------- 영화 내용(contents) */
.sect-graph sect-graph-emotion{
	margin-top: 40px;
}

.graph {
    overflow: hidden;
    border-bottom: 1px solid #cccccc;
}

.graph li {
    float: left;
    padding-bottom: 10px;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    margin-right: -1px;
}
.sect-graph.sect-graph-emotion li {
    width: 50% !important;
}
.graph li:first-child {
    border-left: none;
}
.graph li {
    overflow: hidden;
    height: 350px;
}

.graph li strong {
    display: block;
    height: 58px;
    border-bottom: 1px solid #cccccc;
    color: #4a4a4a;
    text-align: center;
    line-height: 58px;
}

.movie-detail-ad {
    clear: both;
    padding: 30px 0 0;
}
 /*  -------------------------------------------------------------------------------성별/연령병 그래프 api*/
#chart_div {
	 margin-left: 30px;
	

}


 /*  -------------------------------------------------------------------------------중간 광고 영화 */
.sect-trailer{
	margin-top: 40px;
	width: 100%;
	height: 258px;
}
.sect-stillcut{
	margin-top: 40px;
}
.heading {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    height: 39px;
    background: #e2e0d2;
}
.heading h4 {
    float: left;
    margin-left: 16px;
    line-height: 39px;
    color: #333333;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -1px;
}
.heading .count {
    display: inline-block;
    margin-left: 4px;
    font-weight: 300;
    line-height: 40px;
}
.wrap-movie-detail .sect-trailer > ul {
    margin-left: -10px;
}
.wrap-movie-detail .sect-trailer li {
    width: 260px;
    margin: 0 0 15px 10px;
}
.sect-trailer > ul > li {
    float: left;
}
.wrap-movie-detail .sect-trailer li .box-image {
    width: 260px;
    height: 142px;
}
.box-image a {
    display: block;
}
.wrap-movie-detail .sect-trailer li .thumb-image {
    width: 260px;
    height: 142px;
}
.thumb-image {
    display: block;
    position: relative;
}
.wrap-movie-detail .sect-trailer li .thumb-image img {
    width: 260px;
    height: 142px;
}
input, select, img {
    vertical-align: middle;
}
.box-contents > a {
    display: block;
}
.wrap-movie-detail .sect-trailer .title {
    margin-top: 10px;
    font-size: 13px;
    line-height: 16px;
}
.ico-trailer.hd {
    border-color: #2a6fb6;
    color: #2a6fb6;
}
.ico-trailer {
    display: inline-block;
    height: 13px;
    margin-right: 5px;
    padding: 0 3px;
    border: 1px solid #c62424;
    font-size: 10px;
    font-family: Dotum,'돋움';
    text-align: center;
    font-weight: bold;
    line-height: 13px;
}
.wrap-movie-detail .sect-trailer .txt-info {
    margin-top: 3px;
    color: #666666;
    font-family: Verdana, Geneva, sans-serif;
}
.txt-info {
    display: block;
    color: #999999;
    font-size: 12px;
}
.sect-stillcut .slider-wrap {
    width: 800px;
    height: 450px;
}
 /*  ------------------------------------------------------------------------------트레일러/스틸컷 */


.movie_grade {
    position: relative;
    border-top: 2px solid #666666;
}

.movie_grade .egg_point {
    height: 134px;
}
.movie_grade .egg_point .title {
    font-size: 24px;
    line-height: 30px;
    position: absolute;
    top: 35px;
    left: 0;
}
.movie_grade .egg_point .rating {
    position: absolute;
    top: 40px;
    right: 30px;
}

.movie_grade .egg_point .rating .box {
    position: relative;
    width: 55px;
    height: 50px;
    float: left;
    padding-left: 60px;
}
.movie_grade .egg_point .rating .box .sprite_preegg {
    position: absolute;
    top: 0px;
    left: 0px;
}

.sprite_preegg {
/*     background: url(../images/movie/movieList/sprite_preegg.png) ; */
    background-size: 300px;
    display: inline-block;
    width:53px;
    height:53px;
    vertical-align: middle;
}

.sprite_preegg1 {
/*     background: url(../images/movie/movieList/sprite_preegg.png) ; */
    background-size: 300px;
    display: inline-block;

    vertical-align: middle;
}
.sprite_preegg.big.default {
    background-position: 0px -40px;
}
.movie_grade .egg_point .rating .box .desc {
    padding-top: 14px;
    display: block;
    font-size: 14px;
    color: #c2291c;
    font-weight: 400;
    
}
.movie_grade .egg_point .rating .box .percent {
    display: block;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.0;
    color: #000;
}
.movie_grade .egg_point .rating .box .tooltip {
    position: absolute;
    top: -10px;
    left: 60px;
    width: 73px;
    height: 22px;
    background-image: url(../images/movie/movieList/sprite_preegg.png);
    background-position: -150px 0;
    background-size: 300px;
    font-size: 10px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    padding-top: 4px;
}

.movie_grade .chart_total {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    height: 310px;
}
.movie_grade .chart_total .box:first-child {
    border: none;
}

.movie_grade .chart_total .box {
    width: 50%;
    box-sizing: border-box;
    border-left: 1px solid #dddddd;
    float: left;
    height: 100%;
    position: relative;
}
.movie_grade .chart_total .title {
    position: relative;
    padding-top: 28px;
    padding-left: 30px;
    font-size: 20px;
    line-height: 1.5em;
    color: #222222;
    font-weight: 500;
}
.movie_grade .chart_total .radar-graph {
    text-align: center;
}
 /*  -----------------------------------------------------------------------------매력/감정 */
.real-rating {
    position: relative;
    width: 100%;
    padding: 30px;
    background: #EBEDE3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-sizing: border-box;
}
.real-rating .title {
    font-size: 17px;
    color: #212224;
    font-weight: 500;
    line-height: 1.8em;
}
.real-rating .title strong {
    color: #BF2C1C;
}	
.real-rating .desc span {
    display: inline-block;
}
.real-rating .wrap_btn {
    position: absolute;
    top: 30px;
    right: 30px;
}
.real-rating .wrap_btn .link-gradewrite {
    background-color: #BF2C1C;
}
.real-rating .wrap_btn a {
    width: 76px;
    height: 50px;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-left: 6px;
}
.real-rating .wrap_btn .link-reviewwrite {
    background-color: #666666;
}

 /*  -----------------------------------------------------------------------------평점작성 */
.sect-grade .sort {
    text-align: left;
}
.sort {
    margin: 20px 0 10px;
    text-align: center;
}
.sort > li:first-child {
    padding-left: 0;
    border-left: none;
}
.sort > li {
    display: inline-block;
    padding: 0 8px 0 9px;
    border-left: 1px solid #d7d3c8;
    font-weight: 500;
    color: #666666;
    font-size: 13px;
}
.wrap-movie-detail ul.point_col2 {
    position: relative;
    margin: 0 25px -2px;
    overflow: hidden;
}
.sect-grade .wrap-persongrade > ul {
    border-top: 1px solid #999999;
    color: #333333;
}
.point_col2 {
    margin: 0 auto -2px!important;
    padding: 0 25px;
}
.wrap-movie-detail .wrap-persongrade > ul.point_col2> li:nth-child(2n+1) {
    width: 374px;
    padding-left: 1px!important;
    border-right: 1px solid #ceccc1;
}

.wrap-movie-detail ul.point_col2>li {
    position: relative;
    float: left;
    margin-right: -1px;
    border-right: none;
    width: 50%;
    height: 150px;
    padding: 30px 0;
    border-bottom: 1px solid #ceccc1;
    zoom: 1;
}
.sect-grade .wrap-persongrade .box-image .thumb-image {
    width: 62px;
    height: 62px;
}
.sect-grade .wrap-persongrade .box-image .thumb-image img {
    width: 62px;
    height: 62px;
}
.sect-grade .wrap-persongrade .box-image .thumb-image .profile-mask {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 62px;
    height: 62px;
    background: url(../images/common/bg/bg_photocircle.png) 0 0 no-repeat;
}
.point_col2 li:nth-child(2n+1) div.box-contents {
    padding-left: 88px !important;
}
.point_col2 .writerinfo {
    position: relative;
    height: 24px;
}
.wrap-movie-detail ul.point_col2>li .writerinfo > li:first-child {
    float: left;
}
div[class^="sect-"] .box-contents li a {
    display: block;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.egg-icon.good {
    width: 17px;
    background-position: -27px 0;
}
.egg-icon {
    display: inline-block;
    margin-right: 6px;
    width: 22px;
    height: 22px;
    background: url(../images/sprite/sprite_egg.png) no-repeat 0 0;
    vertical-align: middle;
}
.wrap-movie-detail ul.point_col2>li .writerinfo > li {
    float: none;
    background: none;
}
.point_col2 .writerinfo .writer-etc {
    position: absolute;
    left: 0;
    bottom: -146px;
    padding: 0 !important;
}
.point_col2 .writerinfo li {
    margin-bottom: 3px;
    line-height: 20px!important;
}
.point_col2 .writerinfo .writer-etc .day {
    padding-right: 8px;
    margin-right: 6px;
    background: url(../images/common/bg/bg_writeinfo.gif) no-repeat 100% 0;
}