<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
 <configuration>
 	<typeAliases>
 		<typeAlias type="java.lang.String" alias="String"/>
 		<typeAlias type="java.lang.Integer" alias="Integer"/>
 		<typeAlias type="java.lang.Long" alias="Long"/>
 		<typeAlias type="java.util.List" alias="List"/>
 		
 		<typeAlias type="com.tm.cgv.member.MemberVO" alias="MemberVO"/>
 		<typeAlias type="com.tm.cgv.movie.MovieVO" alias="MovieVO"/>
 		<typeAlias type="com.tm.cgv.board.bbs.BbsVO" alias="BbsVO"/>
 		
 		<typeAlias type="com.tm.cgv.board.bbsFile.BbsFileVO" alias="BbsFileVO"/>
 		
 		<typeAlias type="com.tm.cgv.util.Pager" alias="Pager"/>
 		
 		<typeAlias type="com.tm.cgv.movieImage.MovieImageVO" alias="MovieImageVO"/>
 	</typeAliases>
 </configuration>