<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
 <configuration>
 	<typeAliases>
 		<typeAlias type="java.lang.String" alias="String"/>
 		<typeAlias type="java.lang.Integer" alias="Integer"/>
 		<typeAlias type="java.lang.Long" alias="Long"/>
 		<typeAlias type="java.util.List" alias="List"/>
 		
 		
 		<typeAlias type="com.tm.cgv.member.MemberVO" alias="MemberVO"/>
 		<typeAlias type="com.tm.cgv.movieInfo.MovieInfoVO" alias="MovieInfoVO"/>
 		<typeAlias type="com.tm.cgv.board.bbs.BbsVO" alias="BbsVO"/>
 		<typeAlias type="com.tm.cgv.review.TestVO" alias="TestVO"/>
 		<typeAlias type="com.tm.cgv.review.ReviewVO" alias="ReviewVO"/>
 		
 		
		

 		
 		<typeAlias type="com.tm.cgv.cinema.CinemaVO" alias="CinemaVO"/>
 		<typeAlias type="com.tm.cgv.reserveCheck.ReserveCheckVO" alias="ReserveCheckVO"/>
 		<typeAlias type="com.tm.cgv.reservation.ReservationVO" alias="ReservationVO"/>
 		<typeAlias type="com.tm.cgv.movieTime.MovieTimeVO" alias="MovieTimeVO"/>
 		<typeAlias type="com.tm.cgv.theater.TheaterVO" alias="TheaterVO"/>
 		<typeAlias type="com.tm.cgv.seat.SeatVO" alias="SeatVO"/>
 		<typeAlias type="com.tm.cgv.seatBooking.SeatBookingVO" alias="SeatBookingVO"/>
 		<typeAlias type="com.tm.cgv.seatSpace.SeatSpaceVO" alias="SeatSpaceVO"/>
 		<typeAlias type="com.tm.cgv.payment.PaymentVO" alias="PaymentVO"/>
 		

 		<typeAlias type="com.tm.cgv.board.bbsFile.BbsFileVO" alias="BbsFileVO"/>
 		<typeAlias type="com.tm.cgv.util.Pager" alias="Pager"/>
 		<typeAlias type="com.tm.cgv.theater.TheaterVO" alias="TheaterVO"/>
 		<typeAlias type="com.tm.cgv.movieImage.MovieImageVO" alias="MovieImageVO"/>
 		<typeAlias type="com.tm.cgv.movieVideo.MovieVideoVO" alias="MovieVideoVO"/>

 	</typeAliases>
 </configuration>