@charset "UTF-8";

@font-face {
	font-family: 'CJ+ONLYONE+Medium';
	src: url('../../../font/CJ+ONLYONE+Medium.ttf');
}

@font-face {
	font-family: 'CJ+ONLYONE+Medium+LIGHT';
	src: url('../../../font/CJ+ONLYONE+NEW+BODY+LIGHT.TTF');
}

a{
	text-decoration: none;
	color: black;
}

strong{
	font-weight: 500;
}

body{
    background-color: #fdfcf0;
	font-family: 'CJ+ONLYONE+Medium+LIGHT';
	line-height: 1.2;
	color :#666;
	font-weight: 300px;
	font-size: 13px;
}

.container{
	width: 100%;
	height: 546px;
	
}
/* ------------------------------------------------------------------------------------- c_nav */
.c_nav{
	width: 100%;
	background-color: #f1f0e5;
	border-bottom: 1px solid #cacac0;
}

.nav_linemap{
	position: relative;
	width: 980px;
	height: 28px;
	margin: 0 auto;
/* 	border: 1px solid green; */
}

.nav_linemap li:first-child{
	margin-left: 0px;
	padding-left: 0px;
	background: none;
}

.nav_linemap li{
	float: left;
	display: inline-block;
	font-size: 12px;
	line-height: 30px;
	margin-left: 12px;
	padding-left: 20px;
	background: url("/images/login/ico_arrow.png") no-repeat 0 9px;
}

.last{
	text-decoration: underline;
	color: #222;
}


/* ------------------------------------------------------------------------------------- contents */

.contents{
	position: relative;
	width: 980px;
	margin: 0 auto;
	box-sizing: border-box;
	padding-bottom: 50px;
/* 	border: 2px solid red; */
}

.wrap_login{
	position: relative;
	padding: 30px 30px 0;
	height:467px;
/* 	border: 2px solid black; */
}

.tab_menu_round{
	background: url("/images/login/bg_tabmenu_grade.gif") 0 100% repeat-x;
	height: 37px;
/* 	border: 1px solid black; */
}

.tab_menu_round li:first-child{
	background: #e71a0f;
}

.tab_menu_round li{
	float: left;
	display: inline-block;
	width: 130px;
	position: relative;
	line-height: 37px;
	color: #fdfcf0;
	background: #898987;
	text-align: center;
	margin-left: 1px;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
	font-family: 'CJ+ONLYONE+Medium';
	font-weight: 600;
}

.tab_menu_round li a{
	font-size: 13px;
	display: block;
	color: #ffffff;
	font-weight: 600;
}

.box_login{
	margin: 0 auto;
	border-bottom: 2px solid #898987;
	padding: 70px 0 0 300px;
	padding-top: 50px;
	height: 280px;
/* 	border: 1px solid black; */
}

.box_login fieldset{
	position: relative;
	border: none;
}


.login_input{
	position: relative;
	margin-top: 15px;
}

.login_input input[type="text"]{
	width: 275px;
	color: #727272;
	margin-bottom: 5px;
	background: url("/images/sprite_icon.png") 12px -230px no-repeat;
	display: block;
	height: 35px;
	padding: 0 5px 0 40px;
	line-height: 33px;
	border: 2px solid #b5b5b5;
	font-family: 'CJ+ONLYONE+Medium+LIGHT';
}
.login_input input[type="password"]{
	width: 275px;
	color: #727272;
	margin-bottom: 5px;
	background: url("/images/sprite_icon.png") 12px -261px no-repeat;
	display: block;
	height: 35px;
	padding: 0 5px 0 40px;
	line-height: 33px;
	border: 2px solid #b5b5b5;
	font-family: 'CJ+ONLYONE+Medium+LIGHT';
}

.box_login button{
	width: 324px;
	height: 42px;
	line-height: 37px;
	position: static;
	left: 0px;
	margin-top: 2px;
	background: #e71a0f;
	text-align: center;
	border: none;
	cursor: pointer;
}

.box_login button > span{
	display: block;
	width: 318px;
	height: 36px;
	border: 1px solid #f07469;
	color: #f2f0e5;
	font-size: 15px;
	font-weight: 500;
	margin: 0 auto;
}

.save_id{
	position: absolute;
	top: 171px;
	left: 2px;
}

.login_option{
	margin-top: 10px!important;
	text-align: right;
	width: 318px;
	padding-left: 0!important;
}

.login_option > a{
	text-decoration: underline;
	color: #898987;
	display: inline-block;
	margin-left: 5px;
	padding-right: 8px;
	background: url("/images/login/bg_arrow03.png") right 5px no-repeat;
	font-size: 12px;
}

.login_guide{
	margin-top: 40px;
}

.box_guide{
	height: 60px;
	padding: 0 20px;
	border: 1px solid #d5d4ca;
}

.box_guide > strong:first-child{
	padding-left: 0px;
	font-size: 15px;
	font-weight: bold;
	line-height: 62px;
	color: #222222;
}

.box_guide > strong {
	display: inline-block;
	padding: 0 5px 0 18px;
}

.round{
	width: 140px;
	font-size: 12px;
	line-height: 23px;
	font-weight: 500;
	text-align: center;
	vertical-align:middle;
}


.round > * {
	padding: 0 5px 0;
	display: inline-block;
	position: relative;
}

.red{
	border: 2px solid #e71a0f;
	color: #e71a0f;
	border-radius: 0.25rem;
	padding: 3px 5px;
	font-weight: 600;
}

.red > span{
	font-weight: 600;
}


.red:before{
	left:-2px;
	top:-2px;
	background-position: 0 0;
}

.box_guide em{
	display: inline-block;
	padding: 0 5px 0 9px;
	border-left: 1px solid #d5d4ca;
	font-style: normal; 
}

.round{
	width: 140px;
	font-size: 12px;
	line-height: 23px;
	font-weight: 500;
	text-align: center;
	vertical-align:middle;
	border-radius: 0.25rem;
	padding: 3px 5px;
}


.black{
	border: 2px solid #333333;
	color: #333333;
}

.black > span{
	font-weight: 600;
}

/* showId */

.showId-box{

}

.showId-form{
	height: auto;
    padding: 70px 110px 70px;
	border-bottom: 2px solid #898987;
}

.showId-field{
	display: table-cell;
    width: 700px;
    margin: 0 auto;
    background: #f2f2f2;
    text-align: center;
    vertical-align: middle;
	border: none;
	padding: 50px 0;
}

.showId-field > h1{
	font-size: 13px;
	padding: 2px 0;
}

.showId-button{
	margin-top: 25px;
	text-align: center;
}

.move-login{
	border: 2px solid #333333;
    color: #333333;
    line-height: 23px;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.25rem;
    margin: 5px;
    padding: 3px 5px;
}

.move-login > span{
	font-size: 12px;
    padding: 5px 20px;
    font-weight: 600;
}

.move-home{
	border: 2px solid #7b7b7b;
    color: #7b7b7b;
    line-height: 23px;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.25rem;
    margin: 5px;
    padding: 3px 5px;
}

.move-home > span{
	font-size: 12px;
    padding: 5px 20px;
    width: 100%;
    height: 100%;
    font-weight: 600;
}




