@charset "UTF-8";

@font-face {
	font-family: 'CJ+ONLYONE+Medium';
	src: url('../../../font/CJ+ONLYONE+Medium.ttf');
}

@font-face {
	font-family: 'CJ+ONLYONE+Medium+LIGHT';
	src: url('../../../font/CJ+ONLYONE+NEW+BODY+LIGHT.TTF');
}

body {
	font-family: 'CJ+ONLYONE+Medium+LIGHT';
}

h1 {
	font-family: 'CJ+ONLYONE+Medium';
}

code {
	font-family: 'CJ+ONLYONE+Medium';
	font-weight: 600;
}

.form-group{
	width: 100%;
	margin: 0 5px;
}

.underData{
	display: flex;
	margin: 10px 0;
	position: relative;
}

.active {
	font-weight: 600;
}

.nav-link {
	font-family: 'CJ+ONLYONE+Medium+LIGHT';
	font-weight: 600;
}

#layoutSidenav_content {
	background-color: #f8f9fa;
}

main {
	margin: 50px;
	background-color: #fff;
	border: 1px solid #ebeef1;
}

.btn-primary {
	border: none;
	background-color: #e71a0f;
	color: #fff;
	font-weight: 500;
	font-size: 11px;
	line-height: 24px;
	text-align: center;
}

.container-fluid {
	padding: 40px;
}

.admin-logo {
	height: 40px;
	padding: 0 10px;
}

.admin-tr {
	background-color: #f8f9fa;
	border-top: 1px solid #d3dae0;
	border-bottom: 1px solid #d3dae0;
}

.admin-tr>th {
	padding: 10px;
	width: auto;
	font-size: 15px;
	text-align: center;
}

.admin-tr-each {
	border-top: 1px solid #d3dae0;
	border-bottom: 1px solid #d3dae0;
}

.ate-center {
	text-align: center;
}

.cinema-ol {
	display: flex;
	flex-wrap: wrap;
	padding: 0.75rem 1rem;
	margin-bottom: 1rem;
	list-style: none;
	background-color: #e9ecef;
}

/*pager*/
.pager {
	item-align: center;
}

.page-item {
	margin: 0;
}

/*검색 */
.input-group {
	padding: 10px 0;
}

#searchTag {
	border: 1px solid #ced4da;
	border-right: none;
	padding: 0 5px;
}

/* insert */
#selectMovie {
	padding: 5px;
}

#selectDatetime {
	padding: 5px;
}

#selectDatetime>div {
	padding: 10px;
}

#submitBtn {
	font-size: 15px;
}

.form-btn {
	margin: auto;
}


#movieTimeInsert {
	margin: 0 auto;
	width: 680px;
	position: relative;
}



.form-control:disabled, .form-control[readonly]{
	background-color: white;
}













