@charset "UTF-8";


.col {
	background-color:#000;
}


/* seat box */
.seat_box	{
	width:650px;
	height:450px;
	background:#eff2f8;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	overflow:hidden;
}

.seat_box .seat_header	{
	width:100%;
	height:60px;
	background:#6a75ca;
	
}

.seat_box .seat_header .header_btn	{
	padding:15px;
	float:right;
}

.seat_box .seat_header .header_btn select	{
	width:65px;
	border-radius:5px;
	padding-left:2px;
	margin-top:2px;
	font-weight: 600;
}	

.seat_box .seat_header .header_btn button	{
	width:85px;
	height:30px;
	border-radius:5px;
	background:#3747c2;
	color:#fff;
	font-size:12px;
	font-weight:600;
	outline:none;
	border:0;
	margin-left:15px;
	
}



.seat_box .seat_section	{
	
}


.seat_box .seat_section .section_btn	{
	width:120px;
	height:440px;
	background:#fff;
	background:#6a75ca;
	float:left;
}

.seat_box .seat_section .section_btn button	{
	width:92px;
	height:35px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	background:#fff;
	color:#000;
	font-size:12px;
	font-weight:600;
	outline:none;
	border:0;
	margin-left:15px;
	margin-bottom:15px;
}

.seat_box .seat_section .section_btn .btn_del {
	border-bottom:5px solid #000;
}

.seat_box .seat_section .section_btn .btn_economy {
	border-bottom:5px solid #ed8c00;
}

.seat_box .seat_section .section_btn .btn_standard {
	border-bottom:5px solid #01c73c;
}

.seat_box .seat_section .section_btn .btn_prime {
	border-bottom:5px solid #f71708;
}

.seat_box .seat_section .contents	{
	width:450px;
	float:left;
}

.seat_box .seat_section .contents .seats	{
	margin-top:50px;
	margin-left:20px;
}



.seats .seat_row	{
	height:15px;
	line-height:15px;
	margin-left:20px;
	margin-bottom:3px;
	position:relative;
	
}

.seats .seat_row .label {
	position:absolute;
	left:0;
	width:15px;
	height:14px;
	line-height:14px;
	border-top:1px solid #d4d3c9;
	font-size:11px;
	text-align:center;
	color:#000;
}


.seats .seat_row .seat_group {
	width:550px;
	margin-left:20px;
	
}

.seats .seat_row .seat_group .seat {
	position:relative;
	float:left;
	margin-right:3px;
	width:16px;
	height:15px;
	background-color: #666;
}


.seats .seat_row .seat_group .seat .sb {
	display:block;
	position:relative;
	height:100%;
	cursor:pointer;
	text-decoration:none;
	text-align:center;
	color:#fff;
	cursor:pointer;
}


.no {
	display:block;
	height:100%;
	overflow:hidden;
	text-align:center;
	vertical-align:middle;
	font-size:10px;
	border:2px solid #ed8c00;
	background-image: 0;
	line-height:10px;
}


/* row */

.row_plus	{
	position:absolute;
	left:-13px;
	top:-1px;
	width:15px;
	height:15px;
	cursor:pointer;
}

.row_plus img	{

	width:12px;
	height:12px;
	
}


.row_minus {
	position:absolute;
	left:-13px;
	top:-1px;
	width:15px;
	height:15px;
	cursor:pointer;
}

.row_minus img	{

	width:12px;
	height:12px;
	
}


/* col */

.col_plus	{
	position:absolute;
	left:2px;
	top:-32px;
	width:15px;
	height:15px;
	cursor:pointer;
}

.col_plus img	{

	width:12px;
	height:12px;
	
}


.col_minus {
	position:absolute;
	left:2px;
	top:-32px;
	width:15px;
	height:15px;
	cursor:pointer;
}

.col_minus img	{

	width:12px;
	height:12px;
	
}

.row_space	{
	
}

.col_space	{
	display:inline-block;
	float:left;
	width:15px;
}


.col_label	{
	position:absolute;
	left:0;
	top:-15px;
	width:15px;
	height:14px;
	line-height:14px;
	border-top:1px solid #d4d3c9;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	color:#000;
}


.rating_delete	{
	background:#000;
}

.rating_delete>span	{
	border:2px solid #000;
	background:#000;
	color:#fff;
}

/*economy*/
.rating_economy	{
	background:#666;
}

.rating_economy>span	{
	border:2px solid #ed8c00;
	color:#fff;
}

/*standart*/
.rating_standard	{
	background:#666;
}

.rating_standard>span	{
	border:2px solid #01c73c;
	color:#fff;
}


/*prime*/
.rating_prime	{
	background:#666;
}

.rating_prime>span	{
	border:2px solid #f71708;
	color:#fff;
}


/*정리*/

.form-group	{
	margin-top:20px;
	
}

.theaterLebel	{
	/* margin-bottom:30px; */
	font-weight: 600;
}

.selectcinenum	{	/* cinema select box */
	width:300px;
	height:40px;
	padding-left:15px;
	border:1px solid #ced4da;
}

.lebelname	{
	/* margin-bottom:40px; */
}

.ckfm	{
	width:45px;
}


#btn_insert	{
	border:1px solid #ddd;
}
