@charset "UTF-8";

table{
	margin-bottom: 100px!important;	
	
}

button{
	float : right;
	margin-left: 10px!important;
	margin-bottom: 10px!important;
	font-size: 13px!important;
}

td, th{
	text-align: center!important;
}