@charset "UTF-8";

img{
	vertical-align: middle;
}


.container{
	width: 100%;
	background-color: #fdfcf0;
	
	height: 600px; 

}

.tbl_write{
	overflow: hidden;
	padding-top: 10px;
/* 	border: 2px solid red; */
}

.col_detail fieldset{
	border: 0 none;
}

.tbl_info{
	padding: 0 10px;
	line-height: 30px;
	border-top: 1px solid #b8b6aa;
	background-color: #edebe1;
	text-align: right;
	font-size: 13px;
	margin: 0;
}


	
.tbl_bbs_write{
	border-top: 1px solid #d6d4ca;
	border-bottom: 1px solid #b8b6aa;
}

.tbl_bbs_write tr:first-child{
	border-top: none;
}
/* .tbl_bbs_write tr{ */
/* 	border-top: 1px solid #d6d4ca; */
/* } */


.tbl_bbs_write th{
	line-height: 27px;
	vertical-align: top;
	padding: 15px 0 15px 13px;
	text-align: left;
}

.tbl_bbs_write td strong{
	font-size : 14px;
	font-weight: bold;
}

.tbl_bbs_write input{
	margin: 0;
	vertical-align: middle;
}

input[type='text'] {
	display: inline-block;
	height: 25px;
	line-height: 22px;
	padding-left: 10px;
	border: 1px solid #b5b5b5;
}

.in01{
	padding: 0 10px;
	line-height: 25px;
	background-color: #fdfcf0;
/* 	background-color: white; */
}



.textarea{
	height: 120px !important;
	padding: 10px;
	width: 672px;
	border: 1px solid #b5b5b5;
	background-color: #fdfcf0;
	resize: vertical;
	line-height: 1.7;
	font-size: 13px;
	font-weight: 300;
	overflow: auto;
	overflow-x : hidden;
	vertical-align: top; 
	
}

.byte_info{
	margin-top: 5px;
	color: #333333;
	font-weight: bold;
	font-family: 'Verdana';
	text-align: right;
}


.btn_s{
	margin-top: 30px;
	text-align: right; 
	
}

.gray{
	float: left;
	border: 2px solid #7b7b7b;
	color: #7b7b7b;
}

.gray span{
	padding: 0 14px;
}

.inred{
	background: #e71a0f;
	border: 2px solid #e71a0f;
	color: #ffffff;
	line-height: 21px; 
	width: 76px;
}

.inred > *{
	width: 75px;
	border: 1px solid #ea5b50;
	padding: 3px 11px;
}
















