@charset "UTF-8";

@font-face {
   font-family: 'CJ+ONLYONE+Medium';
   src: url('../../../font/CJ+ONLYONE+Medium.ttf');
}

@font-face {
   font-family: 'CJ+ONLYONE+Medium+LIGHT';
   src: url('../../../font/CJ+ONLYONE+NEW+BODY+LIGHT.TTF');
}

a {
   text-decoration: none;
   color: black;
}

strong {
   font-weight: 500;
}

body {
   background-color: #fdfcf0;
   font-family: 'CJ+ONLYONE+Medium+LIGHT';
   line-height: 1.2;
   color: #666;
   font-weight: 300px;
   font-size: 13px;
}

.container {
   width: 100%;
   height: 546px;
}
/* ------------------------------------------------------------------------------------- c_nav */
.c_nav {
   width: 100%;
   background-color: #f1f0e5;
   border-bottom: 1px solid #cacac0;
}

.nav_linemap {
   position: relative;
   width: 980px;
   height: 28px;
   margin: 0 auto;
   /*    border: 1px solid green; */
}

.nav_linemap li:first-child {
   margin-left: 0px;
   padding-left: 0px;
   background: none;
}

.nav_linemap li {
   float: left;
   display: inline-block;
   font-size: 12px;
   line-height: 30px;
   margin-left: 12px;
   padding-left: 20px;
   background: url("/images/login/ico_arrow.png") no-repeat 0 9px;
}

.last {
   text-decoration: underline;
   color: #222;
}

/* ------------------------------------------------------------------------------------- contents */
.contents {
   position: relative;
   width: 980px;
   margin: 0 auto;
   box-sizing: border-box;
   padding-bottom: 50px;
   /*    border: 2px solid red; */
}

.wrap_login {
   position: relative;
   padding: 30px 30px 0;
   height: 467px;
   /*    border: 2px solid black; */
}

.tab_menu_round {
   background: url("/images/login/bg_tabmenu_grade.gif") 0 100% repeat-x;
   height: 37px;
   /*    border: 1px solid black; */
}

.tab_menu_round li:last-child {
   background: #e71a0f;
}

.tab_menu_round li {
   float: left;
   display: inline-block;
   width: 130px;
   position: relative;
   line-height: 37px;
   color: #fdfcf0;
   background: #898987;
   text-align: center;
   margin-left: 1px;
   border-top-left-radius: 0.25rem;
   border-top-right-radius: 0.25rem;
   font-family: 'CJ+ONLYONE+Medium';
   font-weight: 600;
}

.tab_menu_round li a {
   font-size: 13px;
   display: block;
   color: #ffffff;
   font-weight: 600;
}

.box_login {
   margin: 0 auto;
   border-bottom: 2px solid #898987;
   padding: 70px 0 0 300px;
   padding-top: 50px;
   height: 280px;
   /*    border: 1px solid black; */
}

.box_login fieldset {
   position: relative;
   border: none;
}

.login_input {
   position: relative;
   margin-top: 15px;
}

.login_input input[type="text"] {
   width: 275px;
   color: #727272;
   margin-bottom: 5px;
   background: url("/images/sprite_icon.png") 12px -230px no-repeat;
   display: block;
   height: 35px;
   padding: 0 5px 0 40px;
   line-height: 33px;
   border: 2px solid #b5b5b5;
   font-family: 'CJ+ONLYONE+Medium+LIGHT';
}

.login_input input[type="password"] {
   width: 275px;
   color: #727272;
   margin-bottom: 5px;
   background: url("/images/sprite_icon.png") 12px -261px no-repeat;
   display: block;
   height: 35px;
   padding: 0 5px 0 40px;
   line-height: 33px;
   border: 2px solid #b5b5b5;
   font-family: 'CJ+ONLYONE+Medium+LIGHT';
}

.box_login button {
   width: 324px;
   height: 42px;
   line-height: 37px;
   position: static;
   left: 0px;
   margin-top: 2px;
   background: #e71a0f;
   text-align: center;
   border: none;
   cursor: pointer;
}

.box_login button>span {
   display: block;
   width: 318px;
   height: 36px;
   border: 1px solid #f07469;
   color: #f2f0e5;
   font-size: 15px;
   font-weight: 500;
   margin: 0 auto;
}

.save_id {
   position: absolute;
   top: 171px;
   left: 2px;
}

.login_option {
   margin-top: 10px !important;
   text-align: right;
   width: 318px;
   padding-left: 0 !important;
}

.login_option>a {
   text-decoration: underline;
   color: #898987;
   display: inline-block;
   margin-left: 5px;
   padding-right: 8px;
   background: url("/images/login/bg_arrow03.png") right 5px no-repeat;
   font-size: 12px;
}

.login_guide {
   margin-top: 40px;
}

.box_guide {
   height: 60px;
   padding: 0 20px;
   border: 1px solid #d5d4ca;
}

.box_guide>strong:first-child {
   padding-left: 0px;
   font-size: 15px;
   font-weight: bold;
   line-height: 62px;
   color: #222222;
}

.box_guide>strong {
   display: inline-block;
   padding: 0 5px 0 18px;
}

.round {
   width: 140px;
   font-size: 12px;
   line-height: 23px;
   font-weight: 500;
   text-align: center;
   vertical-align: middle;
}

.round>* {
   padding: 0 5px 0;
   display: inline-block;
   position: relative;
}

.red {
   border: 2px solid #e71a0f;
   color: #e71a0f;
   border-radius: 0.25rem;
   padding: 3px 5px;
   font-weight: 600;
}

.red>span {
   font-weight: 600;
}

.red:before {
   left: -2px;
   top: -2px;
   background-position: 0 0;
}

.box_guide em {
   display: inline-block;
   padding: 0 5px 0 9px;
   border-left: 1px solid #d5d4ca;
   font-style: normal;
}

.round {
   width: 140px;
   font-size: 12px;
   line-height: 23px;
   font-weight: 500;
   text-align: center;
   vertical-align: middle;
   border-radius: 0.25rem;
   padding: 3px 5px;
}

.black {
   border: 2px solid #333333;
   color: #333333;
}

.black>span {
   font-weight: 600;
}

/* showId */
.showId-box {
   
}

.showId-form {
   height: auto;
   padding: 70px 110px 70px;
   border-bottom: 2px solid #898987;
}

.showId-field {
   display: table-cell;
   width: 700px;
   margin: 0 auto;
   background: #f2f2f2;
   text-align: center;
   vertical-align: middle;
   border: none;
   padding: 50px 0;
}

.showId-field>h1 {
   font-size: 13px;
   padding: 2px 0;
}

.showId-button {
   margin-top: 25px;
   text-align: center;
}

.move-login {
   border: 2px solid #333333;
   color: #333333;
   line-height: 23px;
   font-weight: 500;
   font-size: 12px;
   text-align: center;
   vertical-align: middle;
   border-radius: 0.25rem;
   margin: 5px;
   padding: 3px 5px;
}

.move-login>span {
   font-size: 12px;
   padding: 5px 20px;
   font-weight: 600;
}

.move-home {
   border: 2px solid #7b7b7b;
   color: #7b7b7b;
   line-height: 23px;
   text-align: center;
   vertical-align: middle;
   border-radius: 0.25rem;
   margin: 5px;
   padding: 3px 5px;
}

.move-home>span {
   font-size: 12px;
   padding: 5px 20px;
   width: 100%;
   height: 100%;
   font-weight: 600;
}

/* 할인쿠폰 이용안내 */
.coupon-notice {
   border: 2px solid #d5d5ce;
   margin-top: 80px;
}

.coupon-notice>div {
   display: flex;
   width: 796px;
   padding: 29px 25px 20px 25px;
   width: 796px;
}

.coupon-em {
   font-family: 'CJ+ONLYONE+Medium';
   font-weight: 500;
   font-size: 13px;
   line-height: 1.5;
   font-style: normal;
   width: 100px;
}

.coupon-notice-ul {
   width: 598px;
   padding: 0 2px 0 25px;
   border-left: 1px solid #d7d6ce;
   font-weight: 300;
}

.coupon-notice-ul>li {
   margin-top: 5px;
   font-size: 12px;
   line-height: 1.5;
}

/* guest */
.guest_guide {
   margin-top: 40px;
}

.guest_guide-box>h3 {
   margin-bottom: 10px;
}

.guest_guide-box>p {
   margin-bottom: 10px;
}

.guest-box {
   display: flex;
   background: #e8e8dd;
   border: 1px solid #e8e8dd;
}

.guest-form {
   height: 286px;
   width: 398.5px;
   padding: 40px 30px 30px;
   background-color: #fdfcf0;
}

.g-title {
   font-family: 'CJ+ONLYONE+Medium';
   height: 45px;
   padding-left: 30px;
   font-size: 15px;
   color: #222222;
   line-height: 45px;
   font-weight: 600;
}

caption {
   text-align: left;
}

.input-box {
   font-family: 'CJ+ONLYONE+Medium+LIGHT';
   display: inline-block;
   height: 25px;
   line-height: 22px;
   padding-left: 10px;
   border: 1px solid #b5b5b5;
}

.tr-box>th {
   width: 100px;
   text-align: left;
   border-top: 1px solid #e8e8dd;
}

.tr-box>td {
   padding: 15px;
   border-top: 1px solid #e8e8dd;
}

caption {
   height: 23px;
}

table {
   border-top: 2px solid #999999;
   border-bottom: 1px solid #aaa9a2;
}

.red-btn {
   font-family: 'CJ+ONLYONE+Medium';
   background-color: #e71a0f;
   color: #fff;
   border-radius: 0.25rem;
   border: none;
   padding: 5px 10px;
   margin-top: 25px;
}

.guest-form>p {
   color: #222222;
   line-height: 1.8;
   padding-bottom: 20px;
   border-bottom: 2px solid #999999;
}

.guest-form>button {
   margin-top: 20px;
   border: 2px solid black;
   border-radius: 0.25rem;
   padding: 5px 10px;
   font-family: 'CJ+ONLYONE+Medium';
   background-color: transparent;
   font-size: 12px;
}

.again {
   font-family: 'CJ+ONLYONE+Medium';
   background-color: transparent;
   color: #7b7b7b;
   border-radius: 0.25rem;
   border: 2px solid #7b7b7b;
   padding: 5px 10px;
   margin-top: 25px;
   margin-right: 15px;
}

.num-chk {
   font-family: 'CJ+ONLYONE+Medium';
   background-color: transparent;
   color: #e71a0f;
   border-radius: 0.25rem;
   border: 2px solid #e71a0f;
   padding: 5px 10px;
   margin: 0 10px;
}

/* 게스트 예매 내역 */
.top-bar>h4 {
   color: #000;
   margin-bottom: 5px;
   font-weight: 600;
   font-family: 'CJ+ONLYONE+Medium';
   font-weight: 600;
}

.top-bar>p {
   padding: 8.5px;
   color: #fff;
   background-color: #000;
   color: #fff;
}

.lst-item {
   padding: 30px;
   border-bottom: 1px solid #d6d4ca;
}

.reserve-num>strong {
   color: #000;
   margin-left: 15px;
   font-weight: 600;
   font-family: verdana, sans-serif;
   font-weight: 600;
}

.reserve-info {
   position: relative;
}

/* 영화 정보 */
.movie-info {
   display: flex;
   margin-top: 20px;
}

.movie-info>img {
   width: 90px;
   height: 140px;
   margin-right: 30px;
}

.movie-info-ul>li {
   margin-top: 8px;
}

.movie-info-ul>li>a {
   font-weight: 600;
   margin-bottom: 18px;
}

.movie-info-ul>li>p {
   display: inline-block;
   font-style: normal;
   margin-right: 10px;
   width: 46px;
   font-style: normal;
}

.movie-info-ul>li>strong {
   font-size: 13px;
   font-weight: 600;
}

/* 결제 정보*/
.payment-info {
   position: absolute;
   top: 0px;
   right: 0px;
   width: 259px;
   padding-top: 25px;
   background: url("/images/myPage/bg_account_top.gif") no-repeat 0 0;
}

.payment-info-ul {
   width: 205px;
   padding: 0 30px 20px 24px;
   background: url(/images/myPage/bg_account_btm.gif) no-repeat 0 100%;
}

.payment-info-ul > li{
   display: flex;
   justify-content: space-between;
   padding-bottom: 10px;
}

.payment-info-ul > li:last-child{
   padding-bottom: 0px;
   padding-top: 10px;
   border-top: 1px solid #aaa9a2;
}

.payment-info-ul > li> strong{
   font-weight: 600;
   font-family: verdana, sans-serif;
}

.payment-info-ul > li:last-child> strong{
   color: #369;
}

/* 삭제 버튼*/
.cancle-btn{
   position: absolute;
   bottom: 0px;
   right: 0px;
   border-radius: 0.25rem;
   border: 2px solid #000;
   padding: 2.5px 5px;
   background-color: transparent;
   font-weight: 600;
   font-family: 'CJ+ONLYONE+Medium+LIGHT';
}

/* 테이블 */
.cancle-table{
   margin-top: 40px;
}

.member-table {
   padding: 0;
   border-top: 1px solid #b8b6aa;
   border-bottom: 1px solid #b8b6aa;
   margin: 5px 0;
}

.member-thead {
   background-color: #e2e2e0;
   font-size: 13px;
}

.member-tr>th {
   height: 34px;
   padding-left: 12px;
   background-color: #e2e2e0;
   font-size: 13px;
   line-height: 34px;
   text-align: left;
   font-family: 'CJ+ONLYONE+Medium';
   font-weight: 600;
}

.member-tr>td {
   height: 34px;
   padding-left: 12px;
   background-color: #fdfcf0;
   font-size: 13px;
   line-height: 34px;
   text-align: left;
}

.member-td > td{
   padding: 8px 12px;
   border-bottom: 1px solid #e2e2e0;
}

.member-td:last-child > td{
   border-bottom: none;
}

#countdown{
   color: #000;
   font-weight: 600;
   
}